*
{
    padding: 0;
    margin: 0;
    font-family: Segoe UI;
}
::-webkit-scrollbar
{
    display: none;
}
body
{
    background-color: rgb(204, 204, 204);
}
.container
{
    background-color: #000;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    height: 100vh;
    width: 500px;
    max-width: 100%;
    color: #fff;
}
.account-header
{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    font-size: 19px;
}
.account-name .far
{
    font-size: 19px;
    margin-right: 4px;
}
.account-name .fas
{
    cursor: pointer;
}
.account-name span
{
    font-size: 17px;
}
.menu a
{
    cursor: pointer;
    color: #fff;
}
.menu a
{
    font-size: 24px;
}
.menu a .fas
{
    margin-right: 15px;
}
.menu .fas
{
    margin-left: 15px;
}
.profile-image
{
    width: 95px;
    border-radius: 50%;
    border: 2.4px solid rgb(161, 161, 161);
}
.user-profile
{
    display: flex;
    text-align: center;
    margin-bottom: 5px;
    margin-left: 15px;
}
.profile-name
{
    font-size: 12px;
}
.pff
{
    display: flex;
    justify-content: space-between;
    margin-left: 24px;
    margin-top: -5%;
    align-items: center;
}
.post,.follo,.following
{
    margin-right: 15px;
    font-size: 14px;
}
.change-profile
{
    text-align: center;
    margin-top: 15%;
}
button
{
    outline: none;
    border: none;
    background-color: transparent;
}
button a
{
    background-color: #000;
    text-decoration: none;
    color: #fff;
    padding: 7px 90px;
    border: 2px solid rgba(187, 186, 186, 0.616);
    font-size: 12px;
    border-radius: 5px;
    letter-spacing: 1px;
}
button a:hover
{
    background-color: rgba(139, 129, 129, 0.39);
}
.change-profile .fas:hover
{
    background-color: rgba(139, 129, 129, 0.39);
}
.change-profile .fas
{
    background-color: #000;
    padding: 10px 15px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid rgba(182, 182, 182, 0.616);
}
.posts
{
    margin-top: 4%;
    
    border-top: 2px solid rgba(146, 140, 140, 0.493);
}
.post-icon
{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    font-size: 19px;
}
.post-1,.tag-1
{
    cursor: pointer;
}
.tag-1 .fas
{
    color: rgba(216, 216, 216, 0.781);
}
.setting1 li
{
    padding: 5%;
}
.setting1 .fas
{
    margin-right: 15px;
}
.footer-icons .account
{
    width: 29px;
    padding: 0px;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.945);
}
.footer-icons .far,.fas,.fal
{
    color: #fff;
}
.footer-icons
{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    padding-left: 29px;
    padding-right: 29px;
    font-size: 19px;
}
footer
{
    border-top: 1px solid rgb(54, 54, 54);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #000;
}
.footer-icons img
{
    width: 22px;
    padding-top: 5px;
}
.post_1 img
{
    width: 31%;
    margin-left: 4px;
    margin-right: -2px;
}
.post_1
{
    margin-top: 5px;
    background-color: #000;
    height: 90vh;
    cursor: pointer;
}
.post-icon span
{
    width: 890%;
    display: block;
    position: relative;
    right: 350%;
    height: 2px;
    background-color: rgb(238, 238, 238);
}
/* @media (width: 320px)
{
    .post_1 img
{
    width: 29%;
    /* margin-top: 4px;
    margin-left: 9px; */
    /* margin-left: 17px;
    margin-right: -19px; */
    /* margin-left: 9px;
    margin-right: -2px;
}
} */
@media (max-width: 350px)
{
    .pff
{
    margin-left: 5px;
}
.post,.follo,.following
{
    margin-right: 15px;
}
.user-profile
{
    font-size: 15px;
    position: absolute;
}
.profile-image
{
    width: 70px;
}
.change-profile .fas
{
    font-size: 12px;
    padding: 7px 15px;
}
button
{
    outline: none;
    border: none;
    background-color: transparent;
    margin-top: 29%;
}
button a
{
    background-color: #000;
    text-decoration: none;
    color: #fff;
    padding: 5px auto;
    border: 2px solid rgba(187, 186, 186, 0.616);
    font-size: 12px;
    border-radius: 5px;
    letter-spacing: 1px;
}
}
@media (min-width: 375px)
{
    .pff
{
    margin-left: 40px;
}
.post,.follo,.following
{
    margin-right: 19px;
}
.user-profile
{
    font-size: 15px;
}
.profile-image
{
    width: 70px;
}
.change-profile
{
    text-align: center;
    margin-top: 10%;
}
}













































